$Roboto: 'Roboto', sans-serif;
$Blue: #418DFF;
$Gray: #CFCECE;

body {
  font-family: $Roboto;
  font-weight: 300;
}

a {
  text-decoration: none;
  &:hover{
    color: $Blue;
  }
}


////// Front Page /////////

#container {
  position:absolute;
  width: 1010px;
  height: 730px;
  border: 1px solid #EBEBEB;
}

h1#logo {
  float: left;
  width: 300px;
  margin: 0 10px 0 26px;
  font-size: 5em;
  font-weight: 200;
}

a {
  color: black;
}

a:hover {
  color: black;
}

h1.category {
  font-weight: 200;
  color: $Blue;
  float: left;
  width: 300px;
  margin-top: 57px;
  margin-left: 80px;
}

#menu-container {
  width: 100%;
  height: 215px;
}

#main-menu-right {
  width: 430px;
  position: relative;
  float: right;
}

#main-menu-left {
  margin-left: -10px;
  width: 430px;
  position: relative;
  float: left;
}

ul#main-menu-list-right {
  list-style: none;
  padding: 0;
  li {
    color: #FFF;
    font-size: 1.8em;
    font-family: $Roboto;
    font-weight: 300;
    padding: 26px;
    background-color: $Gray;
    margin-bottom: 5px;
  }
}

ul#main-menu-list-left {
  list-style: none;
  padding: 0;
  li {
    text-align: right;
    color: #FFF;
    font-size: 1.8em;
    font-family: $Roboto;
    font-weight: 300;
    padding: 26px;
    background-color: $Gray;
    margin-bottom: 5px;
  }
}

#sub-items {
  position: absolute;
  width: 378px;
  top: -200px;
}

#slider {
  width: 960px;
  height: 400px;
  margin: auto;
}

ul#sub-pillows li {
  list-style: none;
  padding: 15px;
}

//////  Product Show Page ////////

#p-container {
  border: 1px solid #dfdfdf;
  overflow: auto;
}

h1 {
  font-family: $Roboto;
  font-size: 1.6em;
}

#p-image {
  float: left;
  padding: .5em;
}

///// PRODUCT DISPLAY PAGE //////


.item-list {
  -webkit-overflow-scrolling: touch;
  list-style: none;
  padding: 0;
}

.grid {
  li {
    float: left;
    padding: 20px;
  }
}

#divider {
  opacity: 0.3;
  width: 800px;
  margin-left: 34px;
}

#product-data {
  margin-left: 10px;
  float: left;
  width: 817px;
}

#product-data {
  h2 {
    width: 765px;
    height: 65px;
    margin-bottom: 0;
    margin-left: 32px;
    font-weight: 300;

  }
}

.pic{
  height: 450px;
  width: 450px;
  float: left;
   img {
    height: 450px;
    width: 450px;
    margin-left: 10px;
  }
}

.description {
  float: right;
  margin-right: 0px;
  width: 336px;
  p {
    font-family: $Roboto;
    font-size: 1.16em;
    line-height: 1.5em;
    font-weight: 300;
  }
}

#bottom-menu-div {
  width: 626px;
  height: 50px;
  clear: both;
  float: right;
}

#bottom-menu {
  list-style: none;
  padding: 0;
  & li {
    display: inline;
    background-color: $Gray;
    color: #FFF;
  }
}

#bottom-menu {
  position: absolute;
  bottom: 5px;
  a li {
    padding: 8px 16px;
    font-size: 1.7em;
    font-family: 'roboto';
    font-weight: 200;
  }
}

.list {
  overflow-y: auto;
  overflow-x: hidden;
  width: 960px;
  height: 75%;
  margin-left: 34px;
  margin-right: 7px;
  ul {
    padding: 0;
    margin-left: 2px;
    li img {
      box-shadow: 0px 2px 5px #E6E6E6;
    }
  }
}

.code {
  width: 125px;
  height: 30px;
  font-weight: 400;
  position: relative;
  float: right;
  margin-right: 212px;
}

///// SWIPE STYLES //////

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}


/////// BACK-END ////////

input#product_name {
  font-size: 1.5em;
  width: 700px;
}

textarea#product_description {
  font-size: 1.1em;
  width: 700px;
  height: 320px;
}

input#product_code {
  font-size: 1.5em;
  width: 200px;
}

select#product_category_id {
  font-size: 1.2em;
  height: 37px;
}

input#product_picture {
  font-size: 1.2em;
}

.actions input {
  background-color: #008000;
  color: #FFF;
  padding: 5px;
  width: 200px;
  font-size: 1.7em;
}

#product_table th {
  border-bottom: 1px solid #818181;
}

table#product_table td {
  border-bottom: 1px solid #EEE;
}

.product_description {
  padding: 10px;
}

td.product_code{
  width: 105px;
}

.category_id {
  text-align: center;
  color: red;
}

.destroy_product a {
  color: #F00;
  font-size: 1.7em;
  padding: 0px 10px;
  font-weight: bold;
}

#new_product a {
  color: #24BD24;
}

#new_product {
  position: absolute;
  top: 13px;
  font-size: 1.3em;
  padding: 6px;
  background: #EEE;
  border: 3px solid #DBDBDB;
  border-radius: 3px;
  right: 100px;
}
