<%= render 'top_logo' %>

<h1 class='category'>Baby Blankets</h1>

<hr id='divider'/>

<div id='product-data'>

</div>

<div class='list' id='wrapper'>
  <ul id='baby-blanket-list' class='item-list grid'>

  </ul>
</div>

<%= render 'bottom_menu' %>