<%= render 'top_logo' %>

<h1 class='category'>Decorative Pillows</h1>

<hr id='divider'/>

<div id='product-data'>

</div>

<div class='list' id='wrapper'>
  <ul id='dec-pillows' class='item-list grid'>
    <% @pillows.each do |p| %>
      <li><img src=<%= p.picture.thumb.url %>></li>
    <% end %>
  </ul>
</div>

<%= render 'bottom_menu' %>
