<%= render 'top_logo' %>

<h1 class='category'>Decorative Pillows</h1>

<hr id='divider'/>

<div id='product-data'>

</div>

<div class='list' id='wrapper'>
  <ul id='dec-pillows' class='item-list grid'>

  </ul>
</div>

<script type="text/javascript">
//   setTimeout(function() {
//     myAppShot = new iScroll('wrapper', {
//         checkDOMChanges: true
//      });
//   }, 100);

//   document.addEventListener('DOMContentLoaded', slider, false);
//   console.log('scroller2');
// </script>

<%= render 'bottom_menu' %>
