<%= render 'top_logo' %>

<h1 class='category'>Napkins</h1>

<hr id='divider'/>

<div id='product-data'>

</div>

<div class='list' id='wrapper'>
  <ul id='napkin-list' class='item-list grid'>

  </ul>
</div>

<%= render 'bottom_menu' %>